<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">


	<display-name>Simple Servlet Application</display-name>

        <servlet>
		<servlet-name>simpleServlet</servlet-name>
		<servlet-class>com.robbiedaves.learndev.java.web.servlets.SimpleServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
        <servlet>
		<servlet-name>SimpleGenericServlet</servlet-name>
		<servlet-class>com.robbiedaves.learndev.java.web.servlets.SimpleGenericServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
        <servlet-mapping>
		<servlet-name>simpleServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleGenericServlet</servlet-name>
		<url-pattern>/helloGeneric</url-pattern>
	</servlet-mapping>






<!--     Enable directory listings by overriding the server default web.xml -->
<!--     Note: This will only work for tomcat servers -->
<!--     definition for the default servlet -->
<!--    <servlet>
        <servlet-name>DefaultServletOverride</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>-->

<!--    Add a mapping for our new default servlet -->
<!--    <servlet-mapping>
        <servlet-name>DefaultServletOverride</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->

</web-app>